.menu-icon{
    display: none;
}
.menu-icon i{
    color:#ff006e;
    font-size: 2rem;
   background-color: #ffffff9a;
   padding: 5px;
   border-radius: 5px;
   cursor: pointer;
   
}
.menu-icon .close{
    
}
.mobile-nav{
    display:none ;
}
.mobile-nav ul{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    text-align: left;
}
.mobile-nav li a{
    color: #fff;
    text-transform: capitalize;
    padding: 20px 0;
    margin: 10px;
    font-size: 1.5rem;
    display: block;
    cursor: pointer;
}
@media (max-width:980px){
    .menu-icon{
        display: flex;
        z-index: 1;
    }
    .menu-icon .close{
        display: none;
        
    }
    .navbar{
        display: none;
    }
    .mobile-nav{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 0;
        left:0;
        right: 0;
        padding: 25px;
        width: 350px;
        height: 750px;
        background-color: #3d0920fd;
        transition: 0.5s;
        z-index: 1;
    }
}


