/* -----------========custom css ===========--------  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    transition:all 0.4s ease-in-out;
}
:root{

    /*color */
    ---text-white: #fff;
    ---text-grey:#ffffffa6;
    ---btn-color:#ff006e;
    ---text-black: #000;
    ---text-black-grey: #0a0a0a80;
    ---star-color: #efac57;
   
    /* font  */
    ---font-15: 15px;
    ---font-18 : 18px;
    ---font-80: 80px;
    ---font-22:22px;
    ---font-50: 50px;
    ---font-30: 30px;

   
    /* more fontsize  */
    
    
    
}
*:before, 
*:after {
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
    
}
a{
    cursor: pointer;
    display: block;
}

html{
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}
body{
  
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
    width: 100%;
    margin:  0 auto;
    height: auto;
    background-color: #F5F5F5;
    color: #000;
}
.container{
    padding: 3% 5%;
}
section{
    padding: 3% 1%
}


/* ================= main css ===================  */
header.index-header{
   max-width: 100%;
   margin: 0 auto;
   height: 140vh;
    background: url(img/bg-03-free-img.jpg) ; 
   background-position: center top;
   background-repeat: no-repeat;
   background-size: cover ;
   background-attachment: fixed;
   position: relative;
}
header.course-header{
   width:100%;
   height: 90vh;
    background: url(img/bg-07-free-img.jpg) ; 
   background-position: center top;
   background-repeat: no-repeat;
   background-size: cover ;
   background-attachment: fixed;
   position: relative;

}
header.teacher-header{
   width:100%;
   height: 90vh;
   background: url(img/bg-001-free-img.jpg) ; 
   background-position: center top;
   background-repeat: no-repeat;
   background-size: cover;
   object-fit: cover;
   background-attachment: fixed;
   position: relative;

}
header.about-header{
   width:100%;
   height: 90vh;
   background: url(img/bg-06-free-img.jpg) ; 
   background-position: center top;
   background-repeat: no-repeat;
   background-size: cover;
   object-fit: cover;
   background-attachment: fixed;
   position: relative;

}
header.contact-header{
   width:100%;
   height: 90vh;
   background: url(img/bg-002-free-img.jpg) ; 
   background-position: center top;
   background-repeat: no-repeat;
   background-size: cover;
   object-fit: cover;
   background-attachment: fixed;
   position: relative;

}
header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.9));
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 6%;
    margin: 0 auto;
    width: 100%;
    
    
    
}
.logo{
    z-index: 1;
}
.logo a{ 
    cursor: pointer;

}
.navbar, ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
ul{
    
    margin-right: 50px;
}
.navbar ul li{
    list-style: none;
}
.navbar li a{
    text-transform: capitalize;
    margin: 0 15px;
    color: var(---text-grey);
    font-size: var(---font-15);
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s ease;
}
.navbar li a:hover{
    color: var(---text-white);
}
.btn{
    cursor: pointer;
    text-transform: capitalize;
    color: var(---text-white);
    background-color: var(---btn-color);
    padding: 18px 35px;
    border-radius: 50px;
    font-size: var(---font-15);
    display: block;
}
.btn:hover{
    background-color: #e00966;
}
#active{
   color: #fff;
}
.index-header .hero{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 60px;
    position: absolute;  
}
.course-header .hero, 
.teacher-header .hero,
.about-header .hero,
.contact-header .hero{
   text-align: center;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;  

}


.hero p{
    font-size: var(---font-18);
    color: var(---text-white);
    font-weight: 400;
    margin-bottom: 50px;
    margin-top: -20px;
    
}
.hero h1{
    font-size: var(---font-80);
    font-weight: 200;
    color: var(---text-white);
    text-align: center;
    align-items: center;
    margin: 0 8%; 
    line-height: 110px;
}
.hero h3{
   font-size: var(---font-30);
   color: var(---text-white);
   width: 600px;
   margin:  0 auto;
}
.hero span{
    font-weight: 500;
    text-decoration: underline;
}
.hero i{
    color: var(---text-black);
    background-color: var(---text-white);
    padding: 5px;
    border-radius: 100%;
    margin-top: 50px;
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
   
}

/* ============================== main section start here ==========================  */
.main-section{
    background-image: url(img/greg-rosenke-kr67X9ralR0-unsplash.jpg); 
    background-color:transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    text-align: center;
    margin-bottom: 5%;


}
.absolute{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    margin-top: 100px;
    transform: translate(-50%, -50%);
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

}
.main-container{
    position: relative;
    text-align: center;
    align-items: center;
   
}
.main-container .main-card{
    background-color:var(---text-white);
    border-radius: 15px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding: 15px 20px;
    max-width: 250px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.main-card .border{
    font-size: var(---font-15);
    text-transform: uppercase;
    color: var(---btn-color);
    font-weight: 300;
    border: 1px solid var(---btn-color);
    border-radius: 8px;
    margin: 0 auto;
    max-width: 50px;
    padding: 9px 12px 7px;
    text-align: center;
    margin-top: 10px;
}
.main-card .heading{
    margin-top: 20px;
    font-size: var(---font-22);
    font-weight: 300;
    color: var(---text-black);
    text-transform: capitalize;
}
.main-card .tutor{
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: var(---font-15);
    color: var(---text-black-grey);

}
button{
    border: none;
    outline: none;
    text-align: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    margin-top: 400px;

  
}
button i{
    font-size: var(---font-22);
    font-weight: 600;
    margin-left: 8px;
}
/* ------------------------------------ */
.work-section{
    background-image: url(img/drew-beamer-kUHfMW8awpE-unsplash.jpg);
    width: 100%;
    height: auto;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover ;
    background-attachment: fixed;
    position: relative;
    opacity: 0.9;
    margin:  0 auto;
   
}

 .work-section::before{
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     background:linear-gradient(to bottom, rgba(#fdf5f5fa), rgb(236, 228, 228), rgba(248, 248, 248, 0.103));
    
 }
 .work{
    width: 100%;
    
 }
 .work-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 100%;
    margin: 0 auto;
 }
 .work-container img{
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    margin-top: -80px;
    width: 360px;
    height: 550px;
    object-fit: cover;
    border-radius: 30px;
    opacity: 0.9;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
   
 }
 .work-container img:hover{
    opacity: 1;
    
 }
 .work-container-card{
    width: 100%;
    position: relative;
    margin-bottom: 30% ;
 }
 .work-container-card h2{
    font-size: var(---font-50);
    color: var(---text-black);
    font-weight: 700;
    margin-bottom: 50px;
    margin-top: 18px;
    text-align: left;
    max-width: 300px;

 }
 .work-container-card .p{
    font-size: var(---font-18);
    font-weight: 400;
    color: var(---text-black-grey);
    width: 300px;
    text-align: left;
    line-height: 30px;
    position: relative;
 }
 .p::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: rgba(17, 0, 0, 0.562);
    top: 100%;
    margin-top: 25px;
    left: 0;
 }
 .number {
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    gap: 40px;
    margin: 0 0 60px 0;
    padding: 5px 0;


 }
 .number h3{
    font-size: var(---font-50);
    background-color: var(---text-white);
    padding: 17px 35px;
    border-radius: 100%;
    color: var(---btn-color);
   border: 1px solid transparent;
   position: absolute;
   margin-left: -100px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   
 }
 .number .right-one{
    background-color: transparent;
    margin:10px 0 0 50px;
    width: 250px;
 }
 .right-one h4{
    font-size: var(---font-22);
    font-weight: 300;
    color: var(---text-black);
    margin-bottom: 20px;
 }
 .right-one p{
    font-size: var(---font-15);
    color: var(---text-black-grey);
 }
 /* ------------------------- -=------------------ */

 .tutor-price{
    padding: 2% ;
    width: 100%;
    margin: 3% auto;

 }
 .tutor-price-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-bottom: 45px;
 }
 .tutor-price-container .tutor-price-card{
    padding: 15px ;
    width: 100%;
 }
 .tutor-price-card i{
    font-size: var(---font-22);
    margin-bottom: 10px;
    display: inline-block;
    padding: 8px;
    border: 1px solid var(---btn-color);
    border-radius: 100%;
    color: var(---btn-color);
 }
 .tutor-price-card h4{
    font-size: var(---font-18);
    font-weight: 400;
    color: var(---text-black);
    margin-bottom: 15px;
 }
 .tutor-price-card p{
    font-size: var(---font-15);
    font-weight: 400;
    color: var(---text-black-grey);
    line-height: 25px;
 }
 /* ------------------------------------------  */
 .about-why-section{
    width: 100%;
    margin-top: -60px;
    padding: 15px;
 }
 .about-why-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
    margin-bottom: 50px;
 }
 .about-why-container .why-us-card{
    width: 420px;
    margin: 15px;
 }
 .why-us-card h6, .about-us-card h6{
    font-size: var(---font-15);
    font-weight: 400;
    color: var(---text-black);
    margin-bottom: 30px;
    text-transform: capitalize;
 }
 .why-us-card h3{
    font-size: var(---font-30);
    line-height: 38px;
    font-weight: 600;
    color: var(---text-black);
    margin-bottom: 20px;
    width: 90%;
 }
 .why-us-card p{
    font-size: var(---font-15);
    font-weight: 400;
    color: var(---text-black-grey);
    line-height: 25px;
    margin-bottom: 25px;
 }
 .why-us-card .customized{
    
    padding: 10px 0;
    margin: 5px;
 }
 .customized .customize-card{
    display: flex;
    justify-content: flex-start;
    gap: 20px;

 }
 .customize-card i{
    display: block;
    font-size: var(---font-30);
    color: var(---btn-color);
    font-weight: 600;
    
 }
 .customize-card .text{
    width: 85%;
    text-align: left;
 }
 .text h4{
    font-size: var(---font-22);
    font-weight: 400;
    color: var(---text-black);
    margin-bottom: 8px;
 }
 .text p{
    width: 350px;
 }
 .about-us-card h2{
    font-size: var(---font-50);
    line-height: 60px;
    font-weight: 800;
    margin-bottom: 35px;
 }
 .about-us-card p{
    font-size: var(---font-15);
    font-weight: 600;
    margin-bottom: 25px;
 }
 .about-us-card a{
    display: block;
    max-width: 25%;
    text-align: center;
 }
 /* -----------------------------------------  */
 .story-section{
    background: url(img/greg-rosenke-kr67X9ralR0-unsplash.jpg);
    width: 100%;
    height: 170vh;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover ;
    background-attachment: fixed;
    margin-top: -55px;
    
 }
 .story-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    width: 100%;
    height: auto;
    
 }
 .story-container h2{
    width: 100%;
    font-size: var(---font-50);
    align-items: center;
    margin-top:80px ;
 }
  .story-container-card{
    background-color: var(---text-white);
    padding: 30px;
    margin: 5px;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 }
 .story-container-card i{
    display: block;
    font-size: var(---font-30);
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: var(---text-black-grey);
    margin-bottom: 15px;
 }
 .story-container-card p{
    font-size: var(---font-18);
    font-weight: 400;
    line-height: 35px;
    color: var(---text-black-grey);
    margin-bottom: 25px;
 }
 .story-container-card img{
    border-radius: 100%;
    object-fit: cover;
    width: 80px;
    margin-bottom: 20px;
 }
 .story-container h6{
    font-size: var(---font-15);
    color: var(---text-black-grey);
    margin-bottom: 15px;

 }
 .logo-img img{
   height: 30px;
   margin: 0 20px;
}
.logo-img{
   white-space: nowrap;
   animation: 25s slider infinite linear;
}
#logo-img-slide{
   overflow: hidden;
   padding: 4% 12%;
   width: 80%;
   margin: 0 auto;
 
   background-color: transparent;
}

@keyframes slider{
   from{
       transform: translateX(0);
   }
   to{
       transform: translateX(-100%);
   }
}

 /* ------------------------------------------------  */
 .image-background {
    width: 100%;
    height: auto;
    margin:  0 auto;
    margin-top: 5%;
    position: absolute;
    background-color:transparent;
 }
 .image-background img{
    border-radius: 18px;
    box-shadow: rgb(0, 0, 0) 0px 22px 70px 4px;
    width: 90%;
   position: absolute;
   z-index: 2;
    top: 10%;
    left: 50%;
    margin-top: 20%;
    transform: translate(-50%, -50%);
    
 }

 .image-background p{
    position: absolute;
    top: 0;
 }
 .image-background .image-content{
   position: absolute;
   width:min(100%, 800px);   
   height: auto;
   top: 50%;
   left: 50%;
  text-align: center;
   transform: translate(-50%, -50%);
   z-index: 2;
   margin-top: 15%;
 }
 .image-content p{
   font-size: var(---font-18);
   font-weight: 400;
   color: var(---text-white);
   margin-top: -50px;
   text-align: center;
   margin-left: 30%;
   
 }
 .image-content h2{
   font-size: var(---font-80);
   color: var(---text-white);
   font-weight: 300;
   width: 100%;
 }
 .image-content h2 span{
   font-weight: 700;
   text-decoration: underline;
   margin-bottom: 30px;
 }
 .image-content a{
   display: block;
   width: 25%;
   margin: 0 auto;
   margin-top: 10%;
 }
 /* -----------------------------------------------  */
 footer{
   background-color: #323F44;
   width: 100%;
   height: 144vh;
  position: relative;
   margin-top: 30%;
   z-index: 1;
   overflow: hidden;
 }
 .footer-container{
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   margin: 35% 0 8%;
  
   
 }
 .footer-container-card{
   width: 100%;
   margin: 5% 0;
   
 }
 .footer-container-card p{
   color: var(---text-grey);
   font-size: var(---font-18);
   text-transform: capitalize;
   margin-bottom: 30px;
   opacity: 0.7;
 }
 .list a{
   font-size: var(---font-15);
   color: var(---text-grey);
   font-weight: 500;
   text-transform: capitalize;
   margin: 5px 0;
   cursor: pointer;
   display: block;
   transition: 0.3s;
 }
 .list a:hover,  .social .link a:hover{
   color: var(---text-white);
 }
 .social .link{
   display: flex;
   flex-direction: row;
   gap: 5px;
   font-size: var(---font-15);
   
 }
 .social .link i{
   display: block;
   color: var(---btn-color);
   padding: 3px;
 }
 .social .link a{
   display: block;
   color: var(---text-grey);
 }
 .footer-text{
   margin: 0% 4%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
   color: var(---text-grey);
   opacity: 0.7;
 }

 /* ====================================Teacher.HTML=============================  */
 .teacher-section{
   max-width: 100%;
   margin: 3% 15%;
   
 }
 .teacher-container-card{
   display: flex;
   flex-direction: row;
   gap: 50px;
   border-bottom: 1px solid #6d666636;
   padding: 8% 0;
   
 }
 
 .teacher-card-left{
   width: 40%;
 }
 .teacher-card-right{
   width: 60%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   
 }
 .teacher-card-left .card-box{
   background-color:var(---text-white);
   align-items: center;
   text-align: center;
   padding: 35px 10px;
   border-radius: 15px;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 }
 .card-box img{
   width: 80px;
   border-radius: 100%;
   object-fit: cover;
   margin-bottom: 25px;
 }
 .card-box .card-icon,
 .card-box .card-star{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 15px;
   margin-bottom: 15px;
 }
 .card-box .card-star{
   margin-bottom: 2px;
 }
 .card-icon i{
   display: block;
   color: var(---text-black-grey);
   font-size: var(---font-22);
 }
 .card-icon p{
   text-transform: capitalize;
   font-size: var(---font-18);
   color: var(---text-black);
   font-weight: 300;
   
 }
 .card-star p{
   font-size: var(---font-18);
   color: var(---star-color);
   font-weight: 800;
   
 }
 .star i{
   display: inline-block;
   color: var(---star-color);
   letter-spacing: -5px;

 }
 .card-box .lesson{
   margin-bottom: 20px;
   font-size: var(---font-18);
   color: var(---text-black-grey);
   
 }
 .card-box a{
   padding: 10px;
   width: 50%;
   margin:  0 auto 10%;

 }
 .teacher-card-right h3{
   font-size: var(---font-22);
   font-weight: 300;
   text-transform: capitalize;
   color: var(---text-black);
   margin-bottom: 20px;

 }
 .teacher-card-right .text{
   font-size: var(---font-15);
   color: var(---text-black-grey);
   line-height: 23px;
   
   
 }
 .teacher-card-right .text .plus{
   color: var(---btn-color);
   display: inline-block;
 }
 .teacher-card-right .thin{
   text-transform: uppercase;
   font-weight: 300;
   margin-bottom: 5px;
   letter-spacing: 2px;
   font-size: var(---font-15);
 }
 /* ==================================about HTML ============================  */

 .about-us-section{
   width: min(100%, 1000px);
   margin: 0 auto;
   text-align: center;
 }
 .about-us-section p{
   text-transform: capitalize;
   color: var(---btn-color);
   font-size: var(---font-15);
   margin-bottom: 30px;
   font-weight: 300;
 }
 .about-us-section h2{
   font-size: var(---font-50);
   color: var(---text-black);
   font-weight: 600;
 }
 .about-us-section h2::after{
   content: '';
   position: absolute;
   width: 150px;
   height: 2px;
   background-color: rgba(17, 0, 0, 0.562);
    top: 100%;
    margin-top: 20%;
    left: 45%;
 }
 p.l-text{
   color: var(---text-black-grey);
   font-size: var(---font-15);
   line-height: 25px;
   margin: 100px 0 0;
   padding-bottom: 50px;
   text-align: left;
   font-weight: 400;
   border-bottom: 1px solid #323f441f;
 }
 p.l-text::first-letter{
   font-size: var(---font-50);
 }
 /* --------------------------------------------------------  */
 .vision-mission-section{
   width: min(100%, 1000px);
   margin:  0 auto;
   background-color: var(---text-grey);
   margin-bottom: 50px;
 }
 .vision-mission-container{
   margin-top: -50px;
   display: flex;
   flex-direction: row;
   gap: 35px;
   text-align: left;
   
  
 }
 .vision-mission-card{
   width: min(100%, 100%);
   margin-top: 7%;
   
 }
 .vision-mission-card p{
   color: var(---btn-color);
   margin-bottom: 40px;
   font-size: var(---font-18);
   font-weight: 300;
   
   text-transform: capitalize;
 }
 .vision-mission-card h3{
   font-size: var(---font-30);
  width: 350px;
   line-height: 45px;
 }
.about-background-image{
   background-color: #fff;
   margin: 0 auto;
   max-width: 100%;
}
.about-background-image img{

   max-width: 100%;
   margin: 0 auto;
   border-radius: 20px;
   box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
/* -------------------------------------------------  */
.customize-container{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 10px;
   
}
.custom{
   margin: 2% 0;
}
.custom .customize-card{

   margin-bottom: 5%;
}
.customize-card .text p{
  
   width: 300px;
}
.text h4{
   text-transform: capitalize;
}
/* ================================== contact HTML =================================== */
.contact-section{
   background: url(img/drew-beamer-kUHfMW8awpE-unsplash.jpg);

   width: 100%;
}
.contact-us{
   width: min(100%, 900px);
   margin:  0 auto;
   padding: 20px;
   
}
.contact-us h2{
   font-size: var(---font-50);
   font-weight: 800;
   width: 450px;
   margin-bottom: 30px;
}
.contact-us p{
   font-size: var(---font-18);
   font-weight: 400;
   color: var(---text-black-grey);
   width: 400px;
   
   margin-bottom: 30px;
}
form{
   width: 100%;
}
form .form-card{
  
}
form .form-card .input-box{
   display: flex;
   justify-content: space-between;
   width: 100%;
}
form input, form textarea{
   width: 100%;
   border: 0;
   outline: 0;
   padding: 15px;
   margin: 10px 0;
   font-size: var(---font-18);
   color: var(---text-black-grey);
}
input:focus, textarea:focus{
   border: 1px dotted var(---text-black);
}
form textarea{
   resize: none;
}
form label{
   text-transform: capitalize;
   font-size: var(---font-15);
   color: var(---text-black-grey);
   font-weight: 600;
   margin-top: 5px;
   display: block;
}
div .f-p{
   color: var(---text-black-grey);
   font-size: 14px;
   text-transform: capitalize;
   margin-top: -5px;
}
.input-btn{
   display: block;
   width: 15%;
}